* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: var(--color-4);
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
    width: 100%;
}

:root {
    --color-1: #FFFFFF;
    --color-2: #000000;
    --color-3: #93E2ED;
    --color-4: #5EBAC7;
    --color-5: #5D78C7;
}



