.sobre-info-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre-info-container {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0px;
}

.sobre-info-container h2 {
    max-width: 600px;
    text-align: center;
    font-family: sans-serif;
    font-size: 3.2rem;
    color: var(--color-1);
}

.sobre-info-container p {
    max-width: 1000px;
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-1);
    margin-bottom: 10px;
}

.sobre-info-beneficios-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.sobre-info-beneficios img {
    width: 172px;
}

.sobre-info-beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    height: 315px;
    border-radius: 50px;
    border:#5D78C7 solid 5px;
}